@media screen and  (max-width: 320px) { 
    
    .header1{
        padding: 10px;
        flex-direction: column;
        h1{
         text-align: center;
    }
 }    
    .navlinks{ 
        padding: 0;
        display: flex;
        flex-direction: column;
        .navlinks li{
            font-size: 15px;
        }
    }
    
    .flex{
        flex-direction: column;
        h2{
            padding-top: 10px;
            font-size: larger;
        }
        p {
           font-size: medium;
           text-align: center;
        }
        img{
           align-self: center;
           width: 200px;
           height: 200px;
           object-fit:cover
        }
    }

    /**Quise hacer un extend acá pero me crashea al igual que otras partes del mobile **/

    .flex2{
        flex-direction: column;
        h2{
            padding-top: 10px;
            font-size: larger;
        }
        p {
           font-size: medium;
           text-align: center;
        }
        img{
           align-self: center;
           width: 200px;
           height: 200px;
           object-fit:cover
        }
      
    }  

    .box-1 {
        font-size: 20px;
        text-align: center;
    }

    .footer{
        flex-direction: row;
            
        nav a{
        padding: 10px;
        align-items: center;
    
        }
    }
    
    .gallery-container{
    
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    

    .flex-video{
        flex-direction: column;

        iframe{
            padding-bottom: 10px;
            width: 200px;
            height: 150px;
        }
     }
    
     .box-ubication1{
        justify-self: center;
     }


     .map1{
        width: 250px;
        height: 150px;
     }

     .map2{
        @extend .map1;
     }
     
    }