@media screen and (max-width: 1024px) {

    .navlinks li{
        padding: 10px;
    }
    
    .box-2{
        align-self: center;
    }
    
    .box-3 { 
        align-self: center;
    }
    
    .flex { 
        img{ 
        width: 40% ;
        }
    }

    .flex2{ 
        img{
            width: 40%;
        }   
    }
    
    .flex-video iframe{
    
        width: 280px;
        height: 200px;
    
        }
    
    }